{% extends "base.html" %}

{% block content %}
    <!-- Enlaces para navegar a las secciones de la carta -->
    <div class="espacio">-
    </div>

    <div class="navegacion-carta">
        <a href="#entrantes">Ir a Entrantes</a>
        <a href="#burgers">Ir a Burgers</a>
    </div>
    

    <div class="cuadro-precios">
        <h3><span class="blanco" id="entrantes">Tienes que pro</span> <span class="negro">"BAR"</span></h3>
        <ul>
            <li class="texto-izquierda-movil"><span>ENSALADA CESAR con pollo, bacon y parmesano.</span> <span>8 €</span></li>
            <li class="texto-izquierda-movil"><span>PIRULETA DE LANGOSTINO.</span> <span>7 €</span></li>
            <li class="texto-izquierda-movil"><span>TWISTER DE GAMBAS.</span> <span>8 €</span></li>
            <li class="texto-izquierda-movil"><span>ENSALADILLA RUSA TRUFADA.</span> <span>7 €</span></li>
            <li class="texto-izquierda-movil"><span>ALITAS DE POLLO "barbacoa, picantonas o de la casa.</span> <span>8 €</span></li>
        </ul>

    </div>

    <div class="cuadro-precios">
        <h3> <span class="negro" id="burgers">BURGUER</span></h3>
        <ul>
            <li class="texto-izquierda-movil"><span>1. H. POLLO "cRuNcH"</span> <span>8.50 €</span></li>
            <li class="texto">Hamburguesa de carne de pollo rebozada con crujientes copos, acompañado de
            lechuga fresca, tomate de la huerta, queso chedar y cebolla</li>
            <li><span>2. H. CERDO IBERICO</span> <span>10.5 €</span></li>
            <li class="texto">Hamburguesa de carne de cerdo, acompañada de lechuga fresca, queso en rulo,
            mermelada de tomate y cebolla crujiente</li>
            <li><span>3. H. CERDO IBÉRICO nº2</span> <span>10.5 €</span></li>
            <li class="texto">Hamburguesa de carne de cerdo, acompañada con lonchas de bacon, queso chedar, tomate de la
            huerta, cebolla pochada y salsa trufada</li>
            <li><span>4.H. RUBIA GALLEGA 200g</span> <span>12.5 €</span></li>
            <li class="texto">Hamburguesa de carne de vaca rubia gallega, acompañado de lechuga fresca, tomate de la huerta,
            queso gouda, cebolla fresca y salsa de bacon ahumada</li>
            <li><span>5. H.RUBIA GALLEGA smash</span> <span>12.5 €</span></li>
            <li class="texto">Hamburguesa con dos finos filetes de carne de vaca rubia gallega, intercalados con queso chedar y gouda,
                lonchas de bacon, lechuga fresca, cebolla crujiente y salsa de la casa</li>
        </ul>

    </div>
    <div class="navegacion-carta">
        <a href="#entrantes">Ir a Entrantes</a>
        <a href="#burgers">Ir a Burgers</a>
    </div>

{% endblock %}