{% extends "base.html" %}

{% block content %}
<section class="contacto">
    <!-- Dirección a la izquierda -->
    <div class="direccion">
        <h2>Contacto</h2>
        <p>Dehesa BURGUER </p>
        <p>Fuentes de León (Badajoz)</p>
        <p>Calle </p>
        <p>CP 06280</p>
        <p>635794508</p>
    </div>

    <!-- Mapa de Google Maps a la derecha -->
    <iframe src="https://www.google.com/maps/embed?pb=!4v1741433823820!6m8!1m7!1sYZRFe_hdhPZ1dgNhdcmaMQ!2m2!1d38.06766774034445!2d-6.538654264565326!3f217.69927313464376!4f-1.8327959223404662!5f0.7820865974627469"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
{% endblock %}