{% extends "base.html" %}

{% block content %}
    <div class="espacio">-
    </div>
        <div class="presentation">
            <div class="presentation-content">
                <h1>
                    DEHESA BURGER'S
                </h1>
                <h2>
                    Abrimos nuestras puertas con una misión clara: elevar tu paladar con el sabor de la tradición.
                </h2>
                <div>
                    Queremos documentaros y enseñaros de donde viene nuestra materia prima. Antes de comenzar por este nuevo viaje Audiovisual donde podréis ver Fotos de nuestros productos, vídeos de cómo se hacen nuestras hamburguesas, nuestra plantilla y mucho más contenido que tendremos por delante.

                    Nuestras hamburguesas nacen en el origen, en las dehesas donde criamos con esmero a la Vaca Rubia Gallega y al Cerdo Ibérico, garantizando una carne de calidad excepcional, jugosa y llena de sabor.

                    Cada bocado es un homenaje a la naturaleza, al cuidado por el producto y al respeto por los procesos artesanales. Queremos que disfrutes no solo de una hamburguesa cualquiera, porque no lo es! Ya te lo avisamos, sino de una experiencia única donde la textura y la jugosidad van de la mano.

                    Ven a descubrir Dehesa Burger’s, donde la exquisitez y belleza del campo se convierte en un placer para el paladar. ¡Te esperamos!
                </div>
            </div>
        </div>
    
{% endblock %}